ANTHROPIC_API_KEY=x
OPENAI_API_KEY=x
GOOGLE_GENERATIVE_AI_API_KEY=x
GROQ_API_KEY=x
BRAINTRUST_API_KEY=x
OTEL_EXPORTER_OTLP_ENDPOINT=https://api.braintrust.dev/otel
OTEL_EXPORTER_OTLP_HEADERS="Authorization=Bearer <Braintrust API Key>, x-bt-parent=project_id:26aeb7a4-f6b2-4e75-a292-476f7ede1c73"